body {
    margin: 0;
    overflow: hidden;
}

#board {
    position: absolute;
    width: 5000px;
    height: 2000px;
    background-color: #ffffff;
    background-image: linear-gradient(#f0f0f0 1px, transparent 1px), linear-gradient(90deg, #f0f0f0 1px, transparent 1px);
    background-size: 20px 20px;
    cursor: grab;
}

.sticky-note {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    overflow: hidden;
}

.sticky-note .delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sticky-note .load-btn {
    position: absolute;
    top: 5px;
    right: 30px;
    width: 50px;
    height: 20px;
    background: #303030;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sticky-note .resizer {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #333;
    border-radius: 50%;
    cursor: nwse-resize;
}

.sticky-note .resizer.top-left {
    top: -5px;
    left: -5px;
    cursor: nwse-resize;
}

.sticky-note .resizer.top-right {
    top: -5px;
    right: -5px;
    cursor: nesw-resize;
}

.sticky-note .resizer.bottom-left {
    bottom: -5px;
    left: -5px;
    cursor: nesw-resize;
}

.sticky-note .resizer.bottom-right {
    bottom: -5px;
    right: -5px;
    cursor: nwse-resize;
}

.canvas-container {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    margin: 8px;
    background-color: transparent;
}